.contact {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftcontact {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftcontact img {
  width: 50%;
  filter: drop-shadow(2px 2px 10px rgba(0, 225, 255, 0.423));
  z-index: -1;
}
.rightcontact {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  /* background-color: antiquewhite; */
}
form {
  width: 80%;
  height: 70%;
  background-color: rgb(19, 18, 18);
  box-shadow: 2px 2px 10px black, 2px 2px 20px black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
form:hover {
  box-shadow: 2px 2px 10px rgb(105, 88, 88), 2px 2px 20px rgb(110, 95, 95);
}
form input {
  width: 80%;
  height: 50px;
  border: 2px solid rgb(105, 208, 215);
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
  outline: none;
}
#textarea {
  width: 80%;
  height: 200px;
  border: 2px solid rgb(105, 208, 215);
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
  outline: none;
}
#submit {
  width: 30%;
  height: 50px;
  border: 2px solid rgb(105, 208, 215);
  border-radius: 20px;
  padding: 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: all 0.3s;
}
#submit:hover {
  cursor: pointer;
  background-color: rgb(107, 89, 89);
  color: white;
  font-size: 50px;
}
@media (max-width: 750px) {
  .contact {
    flex-direction: column;
  }
  .leftcontact {
    width: 100%;
    height: 50vh;
  }
  .leftcontact img {
    width: 70%;
  }
  .rightcontact {
    width: 100%;
  }
}
