#about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftabout {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.circle-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: rgb(240, 244, 255);
  box-shadow: 2px 2px 20px aliceblue;
}
.line {
  width: 2px;
  height: 100px;
  background-color: aliceblue;
}
.aboutdetail {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.aboutdetail ul {
  list-style: none;
}
.aboutdetail h1 {
  background: linear-gradient(to right, rgb(84, 104, 110), white);
  background-clip: text;
  color: transparent;
}
.aboutdetail li {
  color: white;
}
.aboutdetail span {
  color: rgb(170, 190, 207);
}
.rightabout {
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* z-index: -1; */
  gap: 20px;
}
@media (max-width: 750px) {
  #about {
    flex-direction: column;
  }
  .leftabout {
    width: 100%;
  }
  .rightabout {
    width: 100%;
  }
}
