#home {
  width: 100%;
  height: 100%;
  display: flex;
}

.lefthome {
  width: 50%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.righthome {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.righthome img {
  width: 80%;
  filter: drop-shadow(2px 2px 20px rgb(116, 201, 225));
}
.homedetails {
  font-size: 3vmax;
}
.line1 {
  font-size: 0.8rem;
}
.line2 {
  font-size: 2rem;
  background: linear-gradient(to right, rgb(0, 195, 255), white);
  background-clip: text;
  color: transparent;
}

.line3 {
  font-size: 3rem;
}
.homebtn {
  color: black;
  padding: 10px 30px;
  background-color: rgb(212, 204, 194);
  border: 2px solid rgb(66, 180, 205);
  font-size: 20px;
  font: bold;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.5s;
  cursor: pointer;
}
.homedetails button:hover {
  background-color: transparent;
  color: rgb(66, 180, 205);
}

@media (max-width: 750px) {
  #home {
    flex-direction: column-reverse;
  }
  .lefthome {
    width: 100%;
  }
  .righthome {
    width: 100%;
    align-items: center;
  }
}
