nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 40px;
  /* position: sticky; */
  background-color: rgb(21, 24, 28);
}
nav ul a {
  cursor: pointer;
}
nav ul a:hover {
  color: rgb(174, 152, 188);
  border-bottom: 2px solid white;
}
nav ul a .active {
  color: rgb(174, 152, 188);
  border-bottom: 2px solid white;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  color: white;
  font-size: 20px;
}
nav h1 {
  font-size: 30px;
  background: linear-gradient(to right, rgb(0, 195, 255), white);
  background-clip: text;
  color: transparent;
}
.hamburger {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  display: none;
  transition: all 0.5s;
}
.ham {
  width: 40px;
  height: 2px;
  background-color: white;
}
.mobilemenu {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100vh;
  background-color: rgb(21, 24, 28);
  backdrop-filter: blur(7px);
  color: white;
  display: flex;
  flex-direction: column;
  right: 0;
  transform: translateX(100%);
  transition: all 0.5s;
  gap: 30px;
}
.activemobile {
  transform: translateX(0%);
}
.activeham .ham:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 12px;
}
.activeham .ham:nth-child(2) {
  opacity: 0;
}
.activeham .ham:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -7px;
}
@media (max-width: 750px) {
  .destmenu {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
