.card {
  width: 90%;
  max-width: 400px;
  width: 380px;
  height: 170px;
  background-color: rgb(26, 23, 23);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 10px black, 2px 2px 20px black;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10px;
  flex-shrink: calc(0);
}
.card:hover {
  box-shadow: 2px 2px 10px rgb(89, 83, 83), 2px 2px 20px rgb(85, 79, 79);
}
.card img {
  height: 80%;
}
.hovercard {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(120, 126, 130), rgb(12, 12, 12));
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(7px);
}
.card:hover .hovercard {
  transform: translateY(0%);
}
.card h1 {
  background: linear-gradient(to right, rgb(84, 104, 110), white);
  background-clip: text;
  color: transparent;
}
